<%= simple_form_for @link, html: { class: "col-md-6 col-sm-12 my-3" } do |f| %>
  <%= f.input :name, label: "이름" %>
  <%= f.input :url, label: "주소", placeholder: "http:://" %>
  <%= f.input :description, label: "설명" %>
  <div>
    <%= link_to "목록으로 돌아가기", links_path, class: "btn btn-secondary" %>
    <%= f.button :submit, "저장", class: "btn btn-success" %>
  </div>

<% end %>