<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to link.name, link.url, target: "_blank", class: "link-dark" %>
      </h5>
      <p class="card-text"><%= link.try(:description) %></p>
      <p>
        <% link.tags.each do |tag| %>
          <span class="badge text-light" style="background-color: <%= tag.color %>"><%= tag.name %></span>
        <% end %>
      </p>
      <%= link_to "링크 수정", edit_link_path(link), class: "btn btn-outline-warning" %>
      <%= link_to "링크 삭제", link, class: "btn btn-outline-danger", data: { "turbo-method": :delete, "turbo-confirm": "정말로 삭제 하시나요?" } %>
    </div>
  </div>
</div>